*{
    border: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: block;
    margin: 8px;
    font-family: 'Noto Serif', serif;
}

form {
    margin:0px;
    padding: 0px;
    border: none;
    text-align:left;
}

img{
    border: 0px; 
}

h1{
    font-size: 4em;
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.button{
    width: 100px;
    height: 30px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#page_title{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#loginbox{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: rgba(95, 50, 0, 0.5);
    color: rgba(95, 50, 0, 0.5);
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

#registerbox{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    background-color: rgba(95, 50, 0, 0.5);
    color: rgba(95, 50, 0, 0.5);
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.errorbox{
    padding-bottom:10px;
    color:red;
    font-family: sans-serif;
}

#loginform, #registerform{
    padding:5px 25px;
}

.labelinput{
    float:left;
    font-size: 20px;
}

.inputtext{
    float:right;
    height:30px;
    width:200px;
    font-size: 12px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 0 4px;
}

.inputoption{
    float:right;
    height:30px;
    width:200px;
    margin: 0;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: url('../img/arrow.png')no-repeat white;
    background-position: 175px 15px;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none; 
    cursor:pointer;
    padding: 0 4px;
}

.inputbox{
    width: 350px;
    height: 37px;
    padding-top: 15px;
}

.inputbox_reg{
    width: 400px;
    height: 37px;
    padding-top: 15px;
}

#button_login, #button_register{
    float:right;
    cursor:pointer;
}