*{
    border: 0;
    margin: 0;
}

html {

}

body {
    margin:0;
	padding:0;
    font-family: 'Noto Serif', serif;
}

form {
    margin:0px;
    padding: 0px;
    border: none;
    text-align:left;
}

img{
    border: 0px; 
}

a {
	text-decoration:none;
}

a:hover {
    text-decoration:none;
}

* { outline: 0 none; }

input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
	border-color: #ccc;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
	}

.button{
    width: 100px;
    height: 30px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.box-button {
    background-color: #353535;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 36px;
    height: 36px;
    display: inline-block;
    padding: 0 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    cursor:pointer;
    font-family: arial;
    font-size: 13px;
}

.box-button:hover{
    color:#515151;
    background-color:#e6e6e6;
}

.clear {
	clear:both;
}

.wrapper{
	width:960px;
	margin:0 auto;
	position:relative;
}

.separator{
    width: 100%;
    height: 1px;
    background-color: #f1f1f1;
    margin: 5px 0 5px 0;
}

#page_title{
    float: left;
    width: 435px;
    padding: 10px 0 10px 0;   
}

#page_title h1{
    text-shadow: 3px 2px 1px #8E8E8E;
    
}

#header {
    height: 150px;
    min-width: 960px;
    margin:0;
    position:relative;  
    /*background-color: rgba(95, 50, 0, 0.5);*/
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
    background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    border-bottom: 1px solid #e5e5e5;                
}

#wrap-header{
    padding: 0 20px;
    width: 920px;
    margin: 0 auto;
}

#page_menu{
    float: right;
    width: 428px;
    padding-top:30px;
    position: relative;
}

#page_reg{
    float: right;
    padding-top: 65px;
    position: relative;
}

#menu{
    position: absolute;
    z-index:10;
    width:922px;
}

.fixed {
    position:fixed !important;
    padding-top: 0!important;
    top:0;
}

ul.tabs{
    float: right;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border: 1px solid #eaeaea;
    border-bottom-color: #cacaca;
    border-radius: 3px;
    padding: 0 !important;
    width: 100%;    
}

ul.tabs li {
    list-style-type: none;
    margin: 0;
}

ul.tabs li a {
    display: block;
    text-align: center;
    line-height: 35px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    border-right: 1px solid #eee;
    border-right-color: rgba(0,0,0,0.04);
    border-left: 1px solid #fcfcfc;
    border-left-color: rgba(255,255,255,0.7);
    border-bottom: 2px solid #DADADA;
}

ul.tabs li a:hover {
    color: #4183c4;
    border-bottom: 2px solid #CFDCE8;
    background-color: #dce6ef;
    background-image: -moz-linear-gradient(#fafbfd, #dce6ef);
    background-image: -webkit-linear-gradient(#fafbfd, #dce6ef);
    background-image: linear-gradient(#fafbfd, #dce6ef);
    background-repeat: repeat-x;
}

ul.tabs li.selected{
    color: #4183c4;
    border-bottom: 2px solid #CFDCE8;
    background-color: #dce6ef;
    background-image: -moz-linear-gradient(#fafbfd, #fff);
    background-image: -webkit-linear-gradient(#fafbfd, #fff);
    background-image: linear-gradient(#fafbfd, #fff);
    background-repeat: repeat-x;
}

#menu li {
    float:right;
    text-shadow: 0 1px 0 white;
    border-right: 1px solid #eee;
    border-right-color: rgba(0,0,0,0.04);
    border-left: 1px solid #fcfcfc;
    border-left-color: rgba(255,255,255,0.7);
    border-bottom: 2px solid #DADADA;
    width:305px;
}

#menu li.consumer {
    width:457.5px;
}

#menu li.addLogout {
    float:right;
    text-shadow: 0 1px 0 white;
    border-right: 1px solid #eee;
    border-right-color: rgba(0,0,0,0.04);
    border-left: 1px solid #fcfcfc;
    border-left-color: rgba(255,255,255,0.7);
    border-bottom: 2px solid #DADADA;
    width:228px;
}

#menu li.consumer.addLogout {
    width:305px;
}

#content{
    margin-top: 30px;
    padding: 0 20px;
}

#welcome{
    text-align: justify;
    text-indent: 0.5in;
    padding-top: 15px;
}

#registerbox{
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.errorbox{
    padding-left: 15px;
    color:red;
    font-family: sans-serif;
}

#loginform{
    padding-top: 15px;
    float: right;
}

#registerform{
    padding: 15px 0px;
    min-width: 508px;
}

.inputbox{
    float: left;
    padding-left: 10px;
}

.inputtext{
    float:left;
    height: 36px;
    width: 140px;
    font-size: 18px;
    padding: 0 4px;
    border: 1px solid #999999;
    -moz-box-shadow: 0px 0px 6px #000000;
    -webkit-box-shadow: 0px 0px 6px #000000;
    box-shadow: 0px 0px 6px #000000;
}

.labelinput{
    float:left;
    font-size: 20px;
}

.labelinput-reg{
    float:left;
    font-size: 20px;
}

.labelinput-addProject{
    float:left;
    font-size: 20px;
    padding-top: 5px;
}

.inputtext-reg, .inputtext-addProject{
    float:right;
    height: 36px;
    width: 250px;
    font-size: 18px;
    padding: 0 4px;
    border: 1px solid #999999;
    -moz-box-shadow: 0px 0px 6px #000000;
    -webkit-box-shadow: 0px 0px 6px #000000;
    box-shadow: 0px 0px 6px #000000;
}

.labelinput-upload{
    float:left;
    font-size: 20px;
    padding-top: 1px;
}

.inputtext-upload{
    float:right;
    height: 30px;
    width: 330px;
    font-size: 18px;
    border: 1px solid #999999;
    -moz-box-shadow: 0px 0px 6px #000000;
    -webkit-box-shadow: 0px 0px 6px #000000;
    box-shadow: 0px 0px 6px #000000;
}

.inputoption{
    float:right;
    height: 36px;
    width: 250px;
    font-size: 18px;
    padding: 0 4px;
    border: 1px solid #999999;
    -moz-box-shadow: 0px 0px 6px #000000;
    -webkit-box-shadow: 0px 0px 6px #000000;
    box-shadow: 0px 0px 6px #000000;
    margin: 0;
    background: url('../img/arrow.png')no-repeat white;
    background-position: 225px 15px;
    outline:none;
    display: inline-block;
    -webkit-appearance:none; 
    cursor:pointer;
}

.inputbox_reg{
    width: 400px;
    height: 53px;
}

.inputbox_addProject, .inputbox_Upload{
    width: 450px;
    height: 37px;
    padding-top: 15px;
}

#button_login, #button_register, #button_addProject,#button_cancelProject, #button_Upload{
    float:right;
    cursor:pointer;
}

#register_link {
    padding-left: 10px;
    margin-top: 43px;
}

#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.popup{
	display:none;
    width: 288px;
	background: #333;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
    color: white;
	position: fixed;
	top: 40%; left: 38%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

/* FOR POPUP JS */

#toppanel-disable {
    position:fixed;
    top:0px;
    bottom:0px;
    opacity:0.4;
    filter:alpha(opacity=40);
    background-color: black;
    height:expression(parentElement.scrollHeight + 'px');
    width:100%;
    z-index:27;
}

#panel {
	width: 300px;
	position: relative;
	top: 0px;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	overflow: hidden;
	text-align: left;
}

#addProject_panel{
    position: fixed;
    display:none;
    margin:-30px 0 0 -22%;
    top:37%;
    left:54%;
    background: #eee;
    border: 10px solid #515151;
    padding:10px;
    z-index: 30;
}

/* END POPUP JS*/

#cmenu{
    position: relative;
    height:22px;
    padding-top: 13px;
    z-index:100;
}

/*---------------    Dropdown   ---------------*/

/* LEVEL ONE*/

ul.dropdown2{ 
    position: relative; 
    z-index:8;
}
									  
ul.dropdown2 li{ 
    list-style:none;
    float: right;
}

ul.dropdown2 li a{ 
    display: block; 
    color:#e6e6e6;
    background-color: #353535;
}

ul.dropdown2 li:last-child a{ 
     
} /* Doesn't work in IE */

ul.dropdown2 li.hover,
ul.dropdown2 li:hover{ 
    color:#515151;
    background-color:#e6e6e6;
    position: relative; 
}

ul.dropdown2 li.hover a{ 
    color:#515151;
    background-color:#e6e6e6;
}


/* LEVEL TWO */
ul.dropdown2 ul { 
    width: 120px;
    margin-left: -128px;
    visibility: hidden; 
    position: absolute;  
    background-color: #353535;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 36px;
    height: 36px;
    display: inline-block;
    cursor:pointer;
    font-family: arial;
    font-size: 13px;
}

ul.dropdown2 ul li {
    width: 160px;
    height: 36px;
    background-color: #353535;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 36px;
    height: 36px;
    display: inline-block;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    cursor:pointer;
    font-family: arial;
    font-size: 13px;
}/* IE 6 & 7 Needs Inline Block */

ul.dropdown2 ul li a	{ 
    border-right: none; 
    background: none;  
    width: 100%; 
    padding-left:10px;
    display: inline-block;
} 

ul.dropdown2 ul li a:hover{
    color:#515151;
}

/* 	LEVEL THREE */
ul.dropdown2 ul ul { 
    left: 100%;
    top: 0; 
    z-index:10; 
    -webkit-box-shadow: 0px 0px 20px #000000;
	box-shadow: 0px 0px 20px #000000;
}

ul.dropdown2 li:hover > ul { 
    visibility: visible;
}

/* ----------------END DROPDOWN ------------------- */

.project_table{
    font-family: 'Roboto Condensed', sans-serif;
}

.project_table thead{
    background-color: #e6e6e6;
    color: #515151;
    font-size: 18px;
}

.project_table td{
    padding: 5px;
    border: 1px solid #e6e6e6;
}

.project_table tfoot{
    margin: 5px 0 0 0;
}

.project_table tfoot td{
    border: none;
    padding: 0;
}

#draggable {
    display: none;
    position: absolute;
    top: 10%;
    left: 34%;
    background: #353535; 
    width: 300px;
    padding: 5px;
    /*cursor: move;
    left:33%;*/
    text-align: left;
    text-indent: 0;        
}

#labelProject{
    max-width: 300px;
    min-width: 300px;
}

#progressbox{
    display:none;
}

#statustxt{
    position: absolute;
    padding: 5px;
}

#progressbox p{
    width: 438px;
    text-align: center;
}

.edit_label{
    padding:5px;
    height: 36px;
}

.edit_label input{
    height:36px;
    padding-left:5px;
    width: 135px;
}

.button_edit_label{
    background-color: #353535;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 36px;
    height: 36px;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    cursor:pointer;
    font-family: arial;
    font-size: 13px;
    padding: 0 4px !important;
    margin-left: 3px;
}

.button_edit_label:hover{
    color:#515151;
    background-color:#e6e6e6;
}

#match{
    margin:0 auto;
    top:0%;
    left:0%;
    padding: 10px 0px;
}

#image1 img{
    height: 310px;
    width: auto;
}

#image2 img{
    height: 310px;
    width: auto;
}

#pagination p a{
    background-color: #353535;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 36px;
    height: 36px;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    cursor:pointer;
    font-family: arial;
    font-size: 13px;
    padding: 0 8px;
}

#pagination p strong{
    color:#515151;
    padding: 0 8px;
}

#noActiveProject{
    
}

#imageForMatch{
    width: auto;
    float: left;
    height: 631px;
}

#formMatch{
    float:  right;
    text-align: center;
    top: 46%;
    position: relative;
}

#download_same,#download_different{
    text-align: center;
}

#download_same{
    float: left;
}

#download_different{
    float: right;
}

#download_same img,#download_different img{
    width: 128px;
    margin-bottom: 10px;
}

#download_same p,#download_different p{
    margin-bottom: 10px;
}

.wide{
    width:350px;
}

.group{
    background-color: #e6e6e6;
    padding: 5px;
    border: 1px solid #e6e6e6;
    color: #515151;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*---------LOGIN-ADMIN STYLE-----------*/
#panel_login{
    background-color: #212121;
    height: 100%;
}

#login
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    height: 240px;
    width: 400px;
    margin: -150px 0 0 -230px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

#login:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

#login h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

#login h1:after, #login h1:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 120px;   
}

#login h1:after
{ 
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);      
    right: 0;
}

#login h1:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

#inputs input
{
    background: #f1f1f1 url(images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username
{
    background-position: 5px -2px !important;
}

#password
{
    background-position: 5px -52px !important;
}

#inputs input:focus
{
    background-color: #fff;
}

.box-button {
    background-color: #353535;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 36px;
    height: 36px;
    display: inline-block;
    padding: 0 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    cursor:pointer;
    font-family: arial;
    font-size: 13px;
    border: none;
}

.box-button:hover{
    color:#515151;
    background-color:#e6e6e6;
}

/*------------- END LOGIN-ADMIN STYLE ---------------*/
.inputtext-admin{
    float:left;
    height: 36px;
    width: 200px;
    font-size: 18px;
    padding: 0 4px;
    border: 1px solid #999999;
}
