# no CodeIgniter files to be checked in, unless editted
biomatcher.org/style/img/Thumbs.db
biomatcher.org/data
CodeIgniter/application/.htaccess
CodeIgniter/application/cache
CodeIgniter/application/cache/.htaccess
CodeIgniter/application/cache/index.html
!CodeIgniter/application/config/autoload.php
CodeIgniter/application/config/config.php
CodeIgniter/application/config/constants.php
CodeIgniter/application/config/database.php
CodeIgniter/application/config/doctypes.php
CodeIgniter/application/config/foreign_chars.php
CodeIgniter/application/config/hooks.php
CodeIgniter/application/config/index.html
CodeIgniter/application/config/migration.php
!CodeIgniter/application/config/mimes.php
CodeIgniter/application/config/profiler.php
!CodeIgniter/application/config/routes.php
CodeIgniter/application/config/smileys.php
CodeIgniter/application/config/user_agents.php
!CodeIgniter/application/controllers
CodeIgniter/application/controllers/index.html
!CodeIgniter/application/controllers/pages.php
CodeIgniter/application/controllers/welcome.php
CodeIgniter/application/core
CodeIgniter/application/core/index.html
CodeIgniter/application/errors
CodeIgniter/application/errors/error_404.php
CodeIgniter/application/errors/error_db.php
CodeIgniter/application/errors/error_general.php
CodeIgniter/application/errors/error_php.php
CodeIgniter/application/errors/index.html
CodeIgniter/application/helpers
CodeIgniter/application/helpers/index.html
CodeIgniter/application/hooks
CodeIgniter/application/hooks/index.html
CodeIgniter/application/index.html
CodeIgniter/application/language
CodeIgniter/application/language/english
CodeIgniter/application/language/english/index.html
CodeIgniter/application/libraries
CodeIgniter/application/libraries/index.html
CodeIgniter/application/logs
CodeIgniter/application/logs/index.html
!CodeIgniter/application/models/m_pages.php
CodeIgniter/application/models/index.html
CodeIgniter/application/third_party
CodeIgniter/application/third_party/index.html
!CodeIgniter/application/views
CodeIgniter/application/views/index.html
!CodeIgniter/application/views/pages
CodeIgniter/application/views/pages/about.php
!CodeIgniter/application/views/pages/home.php
!CodeIgniter/application/views/templates
!CodeIgniter/application/views/templates/footer.php
!CodeIgniter/application/views/templates/header.php
CodeIgniter/application/views/welcome_message.php
CodeIgniter/index.php
CodeIgniter/license.txt
CodeIgniter/system/index.html
CodeIgniter/system/core
CodeIgniter/system/database
CodeIgniter/system/fonts
CodeIgniter/system/helpers
CodeIgniter/system/language
CodeIgniter/system/libraries/Cache
CodeIgniter/system/libraries/javascript
CodeIgniter/system/libraries/Calendar.php
CodeIgniter/system/libraries/Cart.php
!CodeIgniter/system/libraries/Convertcsv.php
!CodeIgniter/system/libraries/Csvreader.php
CodeIgniter/system/libraries/Driver.php
CodeIgniter/system/libraries/Email.php
CodeIgniter/system/libraries/Encrypt.php
CodeIgniter/system/libraries/Form_validation.php
CodeIgniter/system/libraries/Ftp.php
CodeIgniter/system/libraries/Image_lib.php
CodeIgniter/system/libraries/Index.html
CodeIgniter/system/libraries/Javascript.php
CodeIgniter/system/libraries/Log.php
CodeIgniter/system/libraries/Migration.php
CodeIgniter/system/libraries/Pagination.php
CodeIgniter/system/libraries/Parser.php
CodeIgniter/system/libraries/Profiler.php
CodeIgniter/system/libraries/Session.php
CodeIgniter/system/libraries/Sha1.php
CodeIgniter/system/libraries/Table.php
CodeIgniter/system/libraries/Trackback.php
CodeIgniter/system/libraries/Typography.php
CodeIgniter/system/libraries/Unit_test.php
!CodeIgniter/system/libraries/Unzip.php
CodeIgniter/system/libraries/Upload.php
CodeIgniter/system/libraries/User_agent.php
CodeIgniter/system/libraries/Xmlrpc.php
CodeIgniter/system/libraries/Xmlrpcs.php
CodeIgniter/system/libraries/Zip.php
CodeIgniter/user_guide
!CodeIgniter/README.md
tmp/*
data/*
